$toolbar-background-color = #f44336
$toolbar-text-color = #ffffff
$toolbar-height = 64px
$toolbar-button-text-color = $toolbar-text-color
$toolbar-button-ripple-color = rgba(255, 255, 255, 0.08)

$menu-background-color = #fafafa

material-shadow(z=1)
  if z == 1
    box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.37)
  else if z == 2
    box-shadow 0 6px 10px 0 rgba(0, 0, 0, 0.3)
  else if z == 3
    box-shadow 0 13px 25px 0 rgba(0, 0, 0, 0.3)
  else if z == 4
    box-shadow 0 20px 40px 0 rgba(0, 0, 0, 0.3)
  else if z == 5
    box-shadow 0 27px 55px 0 rgba(0, 0, 0, 0.3)
